@keyframes animacion_test{
    from{
        background-color: rgb(127, 255, 255);
    }
    to{
        background-color: rgb(231, 139, 231);
    }
}

@keyframes girar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }   
}

@keyframes label-animacion{
    from{
        transform: rotate(0deg);
        margin-left: 0;
    }
    to{
        transform: rotate(180deg);
        margin-left: 85vw;
    }
}

.label-container{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.label{
    width: 64px;
    text-align: center;
    background-color: rgb(45, 88, 204);
    color: #ffffff;
    font-size: 1.3rem;
    padding: 1rem;
    border-radius: 20px;
    animation-name: label-animacion;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.loader{
    width: 64px;
    height: 64px;
    border: 16px solid #347bd8ab;
    border-top: 16px solid #4e0877;
    border-radius: 50%;
    animation: girar 2s linear infinite;
}

.loader-double{
    width: 64px;
    height: 64px;
    border: 16px solid #e462d263;
    border-top: 16px solid #477cdd;
    border-bottom: 16px solid #6f4bd18c;
    border-radius: 50%;
    animation: girar 2s linear infinite;
}

.animada{
    width: 100%;
    background-color: aquamarine;
    color: rgb(147, 238, 119);
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    animation: animacion_test 2s alternate infinite;
}