*{
    padding: 0;
    margin: 0;
    color: (ccd5ae);
    text-align: center;
}

html,   body{
    background-color: #7cacf0;
}


.main-container{
    border: 4px solid hsl(219, 79%, 66%);
    border-radius: 25px;
    margin: 2rem;
    background-color: rgb(127, 168, 214);

}

nav, section, footer, article, aside{
     border: 2px solid rgb(0, 140, 255);
     margin: 1rem;
     border-radius: 10px;
     padding: 1rem;
}

article, aside{
    width: 40%;
    display: inline-block;
    height: 300px;
    background-color: rgb(236, 129, 186);
}

nav,section, footer{
    background-color: mediumslateblue;
}